h2 {
    size: 15px;
    font-style: italic;
}

h3, h2 {
    color: #009688;
}

ul, a {
    color: #546d78;
}

.header {
    font-size: 30px;
    color: #FFFFFF;
}

.header, .para {
    width: 100%;
    text-align: center;
    background-color: #00665c;
}

.para {
    font-size: 18px;
    color: #a5b8c0;
}

.header, body {
    font-family: "Lato", sans-serif;
}

body {
    background-color: #212121;
}